In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Preprocessing
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import LabelEncoder

# Metrics 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import classification_report,accuracy_score, recall_score, roc_auc_score, precision_score
from sklearn.metrics import roc_curve, auc

# ML Models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
import lightgbm as lgb
from lightgbm import LGBMClassifier 

# Model Tuning 
from bayes_opt import BayesianOptimization

# Feature Importance 
import shap

# Ignore Warnings 
import warnings
warnings.filterwarnings('ignore')

In [3]:
#!pip install lightgbm
#!pip3 install bayesian-optimization
#!pip install shap

# Import data

In [8]:
data_csv = pd.read_csv('DataSet\data.csv')

In [10]:
column_names = ["Y"]
column_names = column_names + ['X' + str(num) for num in range(1,len(data_csv.columns))]

column_names_df = pd.DataFrame({"Var_name": column_names, "Description":data_csv.columns})

data_csv.columns = column_names
data_csv.info(verbose = True, show_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6819 entries, 0 to 6818
Data columns (total 96 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       6819 non-null   int64
 1   X1      6819 non-null   float64
 2   X2      6819 non-null   float64
 3   X3      6819 non-null   float64
 4   X4      6819 non-null   float64
 5   X5      6819 non-null   float64
 6   X6      6819 non-null   float64
 7   X7      6819 non-null   float64
 8   X8      6819 non-null   float64
 9   X9      6819 non-null   float64
 10  X10     6819 non-null   float64
 11  X11     6819 non-null   float64
 12  X12     6819 non-null   float64
 13  X13     6819 non-null   float64
 14  X14     6819 non-null   float64
 15  X15     6819 non-null   float64
 16  X16     6819 non-null   float64
 17  X17     6819 non-null   float64
 18  X18     6819 non-null   float64
 19  X19     6819 non-null   float64
 20  X20     6819 non-null   float64
 21  X21     6819 non-null   float64
 22  X22     6819 non-null   float64
 23  X23     6819 non-null   float64
 24  X24     6819 non-null   float64
 25  X25     6819 non-null   float64
 26  X26     6819 non-null   float64
 27  X27     6819 non-null   float64
 28  X28     6819 non-null   float64
 29  X29     6819 non-null   float64
 30  X30     6819 non-null   float64
 31  X31     6819 non-null   float64
 32  X32     6819 non-null   float64
 33  X33     6819 non-null   float64
 34  X34     6819 non-null   float64
 35  X35     6819 non-null   float64
 36  X36     6819 non-null   float64
 37  X37     6819 non-null   float64
 38  X38     6819 non-null   float64
 39  X39     6819 non-null   float64
 40  X40     6819 non-null   float64
 41  X41     6819 non-null   float64
 42  X42     6819 non-null   float64
 43  X43     6819 non-null   float64
 44  X44     6819 non-null   float64
 45  X45     6819 non-null   float64
 46  X46     6819 non-null   float64
 47  X47     6819 non-null   float64
 48  X48     6819 non-null   float64
 49  X49     6819 non-null   float64
 50  X50     6819 non-null   float64
 51  X51     6819 non-null   float64
 52  X52     6819 non-null   float64
 53  X53     6819 non-null   float64
 54  X54     6819 non-null   float64
 55  X55     6819 non-null   float64
 56  X56     6819 non-null   float64
 57  X57     6819 non-null   float64
 58  X58     6819 non-null   float64
 59  X59     6819 non-null   float64
 60  X60     6819 non-null   float64
 61  X61     6819 non-null   float64
 62  X62     6819 non-null   float64
 63  X63     6819 non-null   float64
 64  X64     6819 non-null   float64
 65  X65     6819 non-null   float64
 66  X66     6819 non-null   float64
 67  X67     6819 non-null   float64
 68  X68     6819 non-null   float64
 69  X69     6819 non-null   float64
 70  X70     6819 non-null   float64
 71  X71     6819 non-null   float64
 72  X72     6819 non-null   float64
 73  X73     6819 non-null   float64
 74  X74     6819 non-null   float64
 75  X75     6819 non-null   float64
 76  X76     6819 non-null   float64
 77  X77     6819 non-null   float64
 78  X78     6819 non-null   float64
 79  X79     6819 non-null   float64
 80  X80     6819 non-null   float64
 81  X81     6819 non-null   float64
 82  X82     6819 non-null   float64
 83  X83     6819 non-null   float64
 84  X84     6819 non-null   float64
 85  X85     6819 non-null   int64
 86  X86     6819 non-null   float64
 87  X87     6819 non-null   float64
 88  X88     6819 non-null   float64
 89  X89     6819 non-null   float64
 90  X90     6819 non-null   float64
 91  X91     6819 non-null   float64
 92  X92     6819 non-null   float64
 93  X93     6819 non-null   float64
 94  X94     6819 non-null   int64
 95  X95     6819 non-null   float64
dtypes: float64(93), int64(3)
memory usage: 5.0 MB

In [11]:
column_names_df.style

# Preprocessing Data

In [14]:
for int_column in data_csv.select_dtypes(include="int64"):
    print(data_csv[int_column].value_counts())
    print("\n")

0    6599
1     220
Name: Y, dtype: int64


0    6811
1       8
Name: X85, dtype: int64


1    6819
Name: X94, dtype: int64

- select_dtypes(include="int64") -> data_csv에서 datatype이 int64인 feature를 선택한다.
- value_counts -> 각 값 별로 count해서 보여준다.

In [15]:
data_csv = data_csv.drop("X94",axis="columns")

- X94 항목은 값이 1개만 존재하기 때문에 useless하기 때문에 Drop 시킨다.

# Train-Test Split

In [16]:
X = data_csv.drop("Y",axis="columns")
y = data_csv["Y"]

In [17]:
X_train_all, X_test, y_train_all, y_test = train_test_split(X,y,test_size=0.2, random_state=42, shuffle= True, stratify = y)

In [18]:
print(X_train_all.shape, X_test.shape, y_train_all.shape, y_test.shape)

(5455, 94) (1364, 94) (5455,) (1364,)

In [20]:
import matplotlib.pyplot as plt
import itertools
import numpy as np

def plot_confusion_matrix_custom(cm,target_names,title='Confusion Matrix',cmap=None,normalize=True):
    
    accuracy = np.trace(cm)/float(np.sum(cm))
    misclass= 1-accuracy
    
    if cmap is None:
        cmap = plt.get_cmap('Blues')
        
    plt.figure(figsize=(8,6))
    plt.imshow(cm,interpolation='nearest',cmap=cmap)
    plt.title(title)
    plt.colorbar()
    
    if target_names is not None:
        tick_marks = np.arange(len(target_names))
        plt.xticks(tick_marks, target_names, rotation=45)
        plt.yticks(tick_marks, target_names)
    
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:,np.newaxis]
    
    thresh = cm.max() / 1.5 if normalize else cm.max() /2
    
    for i,j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        if normalize:
            plt.text(j,i,"{:0.4f}".format(cm[i,j]),
                    horizontalalignment="center",
                    color="white" if cm[i,j] > thresh else "black")
        else:
            plt.text(j,i,"{:,}".format(cm[i,j]),
                    horizontalalignment="center",
                    color="white" if cm[i,j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True Label')
    plt.xlabel('Predicted label\naccuracy={:0,4f}; misclass={:0.4f}'.format(accuracy, misclass))
    plt.show()
    
    
def binarizeArray(array, threshold = 0.5):
    return [0 if num<threshold else 1 for num in array]

# Model

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
cv=5

In [23]:
scoring ='accuracy' # f1, accuracy, log_loss,

In [ ]:

C=np.logspace(-4,5,20)
param_grid =[{"C":C,"solver":solver}]

gs_lr = GridSearchCV(LogisticRegression(),param_grid=param_grid,cv=cv, scoring=scoring,return_train_score=True)